@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--bg: #0f1724; /* dark blue-ish */
--card: #0b1220;
--muted: #9aa4b2;
}


body {
@apply bg-[var(--bg)] text-gray-100;
}


/* small helpers */
.scrollbar-hide::-webkit-scrollbar { display: none; }